.wdt{    
    width: 90% !important;    
}    
.img    
{    
    height: 300px !important;    
    width: 1200px;    
}    
    
.imgdetails    
{    
    height: 230px !important;    
    width: 400px !important;    
    
}    
    
.imgpad    
{    
    padding-bottom: 90px !important;    
    padding-top: 90px !important;    
  padding-left: 70px !important;    
  padding-right: 30px !important;    
    
}    
  .cls    
  {    
    padding-right: 300px !important;    
    background-color: blue    
  }    

 